/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.pBoard{
	height: 416px;
	width: 208px;
	float: left;
	background-color: #bbb;
	border: 2px solid #666666;
	border-radius: 10px;
}
.player{
  height: 100px;
  width: 100px;
  float: left;
  border: 2px solid #666666;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: pointer;
  opacity:0.6;
}
.player.actif{
	border: 2px solid #000;
	opacity:1;
}
.board {
  /*height: 416px;
  width: 416px;*/
  float: left;
  border: 2px solid #666666;
  background-color: #ddd ;
  /*margin-right: 5px;*/
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  /*cursor: move;*/
}
.tile {
  height: 100px;
  width: 100px;
  float: left;
  border: 2px solid #666666;
  background-color: #bbb;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  opacity: 0.8;
  /*cursor: pointer;*/
}

.tile.droppable{
  border: 2px solid #000;
  opacity: 1;
}
