
.tile ,.player, .gameBtn{
  height: 25vw;
  width: 25vw;
  float: left;
  background-size: 100% 100%;
  border-radius: 12px;
  text-align: center;
  opacity: 1;
  margin-right: 0;
}

.tile{
  border: 1px solid #666666;
}

.player1{
	background-image: url(../svg/panda.svg);
}
.player2{
	background-image: url(../svg/teteDeMort.svg);
}
.player.actif{
	border: 2px solid #000;
	opacity:1;
}

.tile.droppable{
  border: 2px solid #000;
  opacity: 1;
}


.tile[prop1='0']{
	background-color: #8EEDD4;
	border-color: #5CE2C1;	
}

.tile[prop1='1']{
	background-color: #FFF17E;
	border-color: #F8E16E;
}
.tile[prop1='2']{
	background-color: #BEEEFC;
	border-color: #ACE0EF;
}

.tile[prop1='3']{
	background-color: #FFDABF;
	border-color: #EBC5AA;
}

.tile[prop2='0']{
	background-image: url(../svg/emi1-icon.svg); 
}

.tile[prop2='1']{
	background-image: url(../svg/emi2-icon.svg);
}

.tile[prop2='2']{
	background-image: url(../svg/emi3-icon.svg);
}

.tile[prop2='3']{
	background-image: url(../svg/emi4-icon.svg);
background-size: 100% 100%; 
}