
.tile ,.player, .gameBtn{
  height: 25vw;
  width: 25vw;
  float: left;
  border: 4px solid #666666;
  /*background-color: #bbb;*/
  background-size: 100% 100%;
  border-radius: 15px;
  /*box-shadow: inset 0 0 3px #000;*/
  text-align: center;
  opacity: 1;
  /*cursor: pointer;*/
}
.player{
  border: 2px solid #666666;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: pointer;
  /*opacity:0.6;*/
}

.player1{
	background-color: black;
}
.player2{
	background-color: red;
}
.player.actif{
	border: 2px solid #000;
	opacity:1;
}

.tile.droppable{
  border: 2px solid #000;
  opacity: 1;
}


.tile[prop1='0']{
	background-color: #8EEDD4;
	border-color: #5CE2C1;	
}

.tile[prop1='1']{
	background-color: #FFF17E;
	border-color: #F8E16E;
}
.tile[prop1='2']{
	background-color: #BEEEFC;
	border-color: #ACE0EF;
}

.tile[prop1='3']{
	background-color: #FFDABF;
	border-color: #EBC5AA;
}

.tile[prop2='0']{
	background-image: url(../svg/emi1-icon.svg); 
}

.tile[prop2='1']{
	background-image: url(../svg/emi2-icon.svg);
}

.tile[prop2='2']{
	background-image: url(../svg/emi3-icon.svg);
}

.tile[prop2='3']{
	background-image: url(../svg/emi4-icon.svg);
background-size: 100% 100%; 
}